body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(120deg, #e0f7fa, #f0f8ff);

}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-card {
  background-color:rgb(102, 169, 210);

  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: transform 0.3s;
}

.login-card:hover {
  transform: translateY(-5px);
}

.login-card h2 {
  color: white;
  margin-bottom: 25px;
}

.login-card form {
  display: flex;
  flex-direction: column;
}

.login-card input {
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

.login-card input:focus {
  border-color: #007acc;
}

.password-group {
  position: relative;
}

.show-password {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  color: #007acc;
  user-select: none;
}

.login-card button {
  padding: 12px;
  background-color: #007acc;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  background-color: #005fa3;
}

.login-card .error {
  color: #ff4d4f;
  margin-top: 10px;
  font-size: 14px;
}



@media (max-width: 480px) {
  .login-card {
    padding: 30px 20px;
  }
}
